<template>
  <div id="app">
    <b-container class='pt-3'>
      <b-row>
        <b-col col md="6">
          <tareas></tareas>
        </b-col>
        <b-col col md="6">
          <create-tareas/>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Tareas from './views/Tareas.vue'
import CreateTareas from './views/CreateTareas' 
export default {
  components: {Tareas, CreateTareas}
}
</script>

<style>
</style>
