<template>
    <div>
        <b-container class='pt-3'>
        <h5>{{editUser? 'Editar' : 'Crear'}} Tarea</h5>
        <b-form>
        
        <b-form-group id="input-group-2" label="Título tarea:" label-for="titulo tarea">
            <b-form-input
            id="titulo"
            v-model="tareas.titulo"
            required
            placeholder="Ingrese el título de la tarea"
            ></b-form-input>
        </b-form-group>
        

        
        <b-form-group id="input-group-3" label="Informacion de la tarea:" label-for="informacion">
            <b-form-input
            id="informacion"
            v-model="tareas.informacion"
            required
            placeholder="Ingrese la informacion de la tarea"
            ></b-form-input>
        </b-form-group>
        

        
        <b-form-group id="input-group-1" label="Fecha:" label-for="fecha">
            <b-calendar id="fecha" v-model="tareas.fecha" @context="onContext" locale="en-US"></b-calendar>
        </b-form-group>
        

        <b-button @click="editUser? editTareas() : createTareas()" style="margin-right: 5px; margin-bottom: 30px;" variant="primary">{{editUser? 'Editar' : 'Crear'}}</b-button>
        </b-form>
        <p>{{error}}</p>
    </b-container>
  </div>
</template>

<script>

import axios from 'axios';
import { mapState, mapMutations } from 'vuex'
export default {
    data() {
        return {
            context: null,
            tareas: {
                fecha: '',
                titulo: '',
                informacion: '',
            },
            error: '',
            countEdit: 0
        }
    },


    computed: {
        ...mapState(['editUser']),
    },

    methods: {

        ...mapMutations(['setTareas', 'setEditUser']),

        async createTareas(){
            try {
                await axios.post('http://localhost:3000/api/createTareas', this.tareas);
                const tareas = await axios.get('http://localhost:3000/api/getTareas');
                this.setTareas(tareas.data);
                this.tareas.fecha = '';
                this.tareas.titulo = '';
                this.tareas.informacion = '';
            } catch (error) {
                console.error(error);
                this.error = error.response;
            }
        },

        async editTareas(){
            console.log("here")
            try {
                let form = this.tareas;
                form.id = this.editUser.id;
                const res = await axios.put('http://localhost:3000/api/updateTareas', form);
                console.log(res.data);
                const tareas = await axios.get('http://localhost:3000/api/getTareas');
                this.setTareas(tareas.data);
                this.setEditUser(null);
                delete this.tareas.id;
                this.countEdit = 0;
                this.tareas.fecha = '';
                this.tareas.titulo = '';
                this.tareas.informacion = '';
            } catch (error) {
                console.error(error);
                this.error = error.response;
            }
        },

        onContext(ctx) {
            this.context = ctx
        }
    },

    updated() {
        if(this.editUser && this.countEdit === 0){
            this.tareas.fecha = this.editUser.fecha;
            this.tareas.titulo = this.editUser.titulo;
            this.tareas.informacion = this.editUser.informacion;
            this.countEdit = 1;
        }
    },
}
</script>