<template>
 <div id="app">
  <b-container class='pt-3'>
  <h5>Tareas</h5>
    <b-table :items="tareas" :fields="fields" striped fixed class="table table-dark">
      <template v-slot:cell(acciones)="item" >
        <b-row>
          <b-col col sm="1">
            <b-icon icon="pencil" @click="editTareas(item)" scale="1.2" style="cursor: pointer; color: orange"></b-icon>
          </b-col>
          <b-col col sm="1">
            <b-icon icon="archive" @click="deleteTareas(item)" scale="1.2"  style="cursor: pointer; color: red"></b-icon>
          </b-col>
        </b-row>
      </template>
    </b-table>
  </b-container>
</div>
</template>

<script>

import axios from 'axios';
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'tareas',
  data() {
    return {
      fields: ['fecha', 'titulo', 'informacion', 'Acciones'],
      error: ''
    }
  },

  computed: {
    ...mapState(['tareas']),
  },

    methods: {

    ...mapMutations(['setTareas', 'setEditUser']),

    async getTareas(){
      try {
        const res = await axios.get('http://localhost:3000/api/getTareas');
        this.setTareas(res.data);
        console.log("get")
      } catch (error) {
        console.error(error.response);
        this.error = error.response.data;
      }
    },

    editTareas(item){
      let tareas = item.item;
      this.setEditUser(tareas);
    },

    async deleteTareas(item){
      let idTareas = item.item.id;
      try {
        await axios.delete(`http://localhost:3000/api/deleteTareas/${idTareas}`);
        this.getTareas();
      } catch (error) {
        console.error(error.response);
        this.error = error.response.data;
      }
    }
  },

  mounted() {
    this.getTareas();
  },

}
</script>
